html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1,5rem;
  color: #000;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.c_title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #00CCFF;
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.calc-left, .calc-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.calc-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 20px;
}

.calc-form-group {
  margin-bottom: 15px;
}

.calc__label {
  display: block;
  margin-bottom: 5px;
}

.calc__input {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ddd;
}

.calc-result {
  margin-bottom: 15px;
  background-color: #FAFAFA;
  padding: 15px;
}

.calc-result-group {
  margin-bottom: 10px;
}

.calc-result__value {
  font-weight: bold;
  color: #00CCFF;
}

.calc__btn {
  padding: 15px;
  cursor: pointer;
  border: none;
}

.calc__btn__clear {
  background-color: #EFEFEF;
  margin-right: 15px;
}

.calc__btn__clear:hover, .calc__btn__clear:focus {
  background-color: #dcdcdc;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.calc__btn__calculate {
  background-color: #00CCFF;
  color: #fff;
}

.calc__btn__calculate:hover, .calc__btn__calculate:focus {
  background-color: #05afda;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.c-star {
  color: #e21f1f;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .calc-left, .calc-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media only screen and (max-width: 480px) {
  .calc__btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

span.support-hover::before {
  display: none;
  position: absolute;
  z-index: 9998;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0.5em -0.1em rgba(0, 0, 6, 0.5);
          box-shadow: 1px 1px 0.5em -0.1em rgba(0, 0, 6, 0.5);
  text-align: left;
  color: #000;
  font: normal 400 14px Arial, sans-serif;
  opacity: .9;
  cursor: default;
  padding: 5px;
  margin: -15px 0 0 10px;
  width: 200px;
  min-height: 50px;
  height: auto;
}

span.support-hover::before {
  content: attr(data-title);
}

span.support-hover:hover::before {
  display: block;
}

.support-hover {
  display: inline-block;
  position: relative;
  color: #06C;
  text-decoration: none;
  cursor: pointer;
}

.support-hover em {
  background: #00CCFF;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font: normal bold 14px Arial;
  padding: 0 4px;
}

span.support-hover:hover em {
  background: #F1702F;
}
