@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.c_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: $blue;
}

.calc{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &-left, &-right{
        flex: 0 0 50%;
    }
    &-row{
        flex: 0 0 100%;
        margin-top: 20px;
    }
    &-form-group{
        margin-bottom: 15px;
    }
    &__label{
        display: block;
        margin-bottom: 5px;
    }
    &__input{
        display: block;
        width: 100%;
        max-width: 300px;
        padding: 8px;
        border: 1px solid #ddd;
    }
    &-result{
        margin-bottom: 15px;
        background-color: #FAFAFA;
        padding: 15px;
        &-group{
            margin-bottom: 10px;
        }
        &__value{
            font-weight: bold;
            color: $blue;
        }
    }
    &__btn{
        padding: 15px;
        cursor: pointer;
        border: none;
        &__clear{
            background-color: #EFEFEF;
            margin-right: 15px;
        }
        &__clear:hover, &__clear:focus{
            background-color: #dcdcdc;
            transition: all 250ms;
        }        
        &__calculate{
            background-color: $blue;
            color: #fff;
        }
        &__calculate:hover, &__calculate:focus{
            background-color: $blue-h;
            transition: all 250ms;
        } 
    }
}

.c-star{
    color: #e21f1f;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .calc-left, .calc-right{
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 480px) {
    .calc__btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

span.support-hover::before { 
    display: none;
    position: absolute;
    z-index: 9998;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 0.5em -0.1em rgba(0,0,6,0.5);
    text-align: left;
    color: #000;
    font: normal 400 14px Arial, sans-serif;
    opacity: .9; 
    cursor: default;
    padding: 5px;
    margin: -15px 0 0 10px;
    width: 200px;
    min-height: 50px; 
    height: auto;
}

span.support-hover::before {
    content: attr(data-title);
}
span.support-hover:hover::before {
    display: block;
}

.support-hover {
    display: inline-block;
    position: relative;
    color: #06C;
    text-decoration: none;
    cursor: pointer;
}
.support-hover em {
    background: $blue;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font: normal bold 14px Arial;
    padding: 0 4px;
}
span.support-hover:hover em {
    background: #F1702F;
}